@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap");
:root {
  --cor-header: #e9ebef;
  --cor-header-fonte: #333333;
  --cor-header-fonte-ul-hover: #666b71;
  --cor-de-fundo: #f0f2f5;
  --cor-de-fundo02: #f9f9f9;
  --cor-opcoes-fonte01: #0e0e0e;
  --cor-opcoes-fonte02: #666;
  --cor-opcoes-fonte03: white;
  --cor-opcoes-fonte04: #999;
  --cor-opcoes-destaque01: #980909;
  --cor-opcoes-destaque02: #474747;
  --fonte-titulo01: "Pridi", serif;
  --fonte-titulo01-weight: 500;
  --fonte-titulo02-weight: 200;
  --fonte-titulo03-weight: 300;
  --fonte-titulo01-style: normal;
  --fonte-texto: "Montserrat", sans-serif;
  --cor-botao-perfil: #f6f6fc;
  --cor-botao-perfil-hover: #079fce;
  --cor-botao-perfil-hover02: #0b7fa8;
  --cor-botao-perfil-fonte01: #333;
  --cor-botao-perfil-fonte02: white;
}
/* Footer */
footer {
  background-color: var(--cor-header-fonte);
  color: var(--cor-opcoes-fonte03);
  padding: 20px 0; /* espaço interno */
}
/* Container principal */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}

/* Colunas */
.footer-column {
  flex: 0 0 200px;
}

.footer-column h4 {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li a {
  text-decoration: none;
  color: var(--cor-opcoes-fonte03);
  font-size: 14px;
}

/* Copyright separado */
.footer-copy {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: var(--cor-opcoes-fonte03);
}

/* Tablets */
@media (max-width: 991px) and (min-width: 768px) {
  .footer {
    margin-top: 200px;
  }
  .footer-container {
    justify-content: center; /* centraliza os blocos */
    gap: 30px;
  }

  .footer-column {
    flex: 1 1 45%; /* ocupa ~metade da linha, mas flexível */
    text-align: center;
  }
}

/* Celulares */
@media (max-width: 767px) {
  .footer-container {
    flex-direction: column; /* empilha colunas */
    align-items: center;
    gap: 30px;
  }

  .footer-column {
    flex: 1 1 100%; /* largura total */
    text-align: center;
  }
}
